.pt5 {padding-top:5px;}
.fkleft {height:30px;width:80px;float:left;padding-top:10px;}
.ml15 {margin-left:15px;}
.fkmiddle {height:30px;width:1070px;float:left;overflow:hidden;padding-top:10px;}
.fkmiddle a{margin:0px 10px;color:#666;display:inline-block; height: 30px;}
.fkright {height:30px;width:50px;float:left;padding-top:10px;}
.ml5 {margin-left:5px;}
.mb30{margin-bottom:30px;}